<h1>
  <%= link_to 'Clients', clients_path %> / <%= link_to "#{@client.id}", @client %> / 
  <%= link_to "Invoices", client_invoices_path(@client) %> /  
  <%= link_to "#{@invoice.id}", client_invoice_path(id: @invoice.id) %> /
  <%= link_to "Transactions", client_invoice_transactions_path(invoice_id: @invoice.id, client_id: @client.id) %> /
  <%= link_to "#{@transaction.id}", client_invoice_transaction_path(id: @transaction.id) %> /
  Edit
</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Show', client_invoice_transaction_path(id: @transaction.id) %>
