<h1>
  <%= link_to 'Clients', clients_path %> / <%= link_to "#{@client.id}", @client %> / 
  <%= link_to "Invoices", client_invoices_path(@client) %> /  
  <%= link_to "#{@invoice.id}", client_invoice_path(id: @invoice.id) %> /
  <%= link_to "Transactions", client_invoice_transactions_path(invoice_id: @invoice.id, client_id: @client.id) %> /
</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Unit amount</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Description</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.unit_amount %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.invoice_id %></td>
        <td><%= link_to 'Show', client_invoice_transaction_path(id: transaction.id) %></td>
        <td><%= link_to 'Edit', edit_client_invoice_transaction_path(id: transaction.id) %></td>
        <td><%= link_to 'Destroy', client_invoice_transaction_path(id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_client_invoice_transaction_path %>
